html, body {
    height: 100%;
    background: var(--back-color-1);
}


.navbar-dark {
    background-color: var(--header-color);
}


.navbar-dark .navbar-brand {
    font-family: "3dventure";
    font-size: 30px;
    font-weight: bold;
}




.navbar-dark .navbar-nav .nav-link {
    font-family: "rus_amstrad";
    font-size: 1rem;
}

#hero {
    width: 100%;
}


#hero:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    padding-top: 8vh;
    width: 100%;
    margin: 0;
    text-align: center;
}

.c {
    margin-top: 40px;
    font-family: "rus_amstrad";
}

.c #title_news {
    font-family: "rus_amstrad";
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}
.c p {
    font-family: "rus_amstrad";
    color: #ffffff;
    font-size: 15px;
}



.wrapper{
    color: #ffffff;
    position: center;
    margin-bottom: 100px;

}

.wrapper a{
    line-height: 40px;
    font-size: 18px;
    font-family: "rus_amstrad";
    text-decoration: none;
    color: #00ff00;
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span{
    position: relative;
     z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5757e5;
  transition: all .35s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}

.wrapper p {
    font-family: "rus_amstrad";
    color: #8366bd;
    font-size: 12px;
}



.w-100 {
    width: 80%!important;
    margin: 0 auto;
}


/*Экран смартфона*/
@media screen and (max-width: 540px) {
    #hero h1 {
        margin: 20px 20px 50px 20px;
        font-family: "rus_amstrad";
        font-weight: 700;
        line-height: 30px;
        font-size: calc(9px + 3vw);
        color: #ffffff;
    }

    .main-header {
       font-size: calc(7px + 3vw);
    }

    .small-header {
        font-size: calc(7px + 3vw);
    }

    .main-blog__title {
        font-size: calc(7px + 3vw);
    }

    .author-name {
        font-size: calc(2px + 3vw);
    }

    .author-info {
        font-size: calc(2px + 3vw);
    }

    .video-by {
        font-size: calc(1px + 3vw);
    }

    .video-name {
        font-size: 16px;
    }

    .video-view {
        font-size: 12px;
    }
}


@media screen and (max-width: 4000px) and (min-width: 541px) {
    #hero h1 {
        margin: 20px 20px 50px 20px;
        font-family: "rus_amstrad";
        font-weight: 700;
        line-height: 64px;
        font-size: calc(4px + 2.5vw);
        color: var(--h-color);

    }
    .main-header {
       font-size: 30px;
    }

    .small-header {
        font-size: 30px;
    }
    .main-blog__title {
        font-size: 25px;
    }
    .author-name {
        font-size: 12px;
    }

    .author-info {
        font-size: 12px;
    }

    .video-by {
        font-size: 12px;
    }

    .video-name {
        font-size: 16px;
    }
    .video-view {
        font-size: 12px;
    }
}






.border-top {
    border-top: 4px solid #5757e5!important;
}

footer {
    background-color: var(--header-color);
    align-items: flex-end;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    border-top: 1px solid #5757e5!important;
    font-family: "amstrad";
    color: #5757e5;
}


@font-face {
    font-family: "amstrad";
    src: url("../../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "3dventure";
    src: url("../../fonts/3dventure/3dventure1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}



.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
  overflow: auto;
}


.main-header {
  color: #FFFFFF;
  padding-bottom: 20px;
  position: sticky;
  margin-left: 20px;
  font-family: "rus_amstrad";
}

.small-header {
  color: #FFFFFF;
  margin: 50px 0 20px 20px;
  font-family: "rus_amstrad";
}


.main-blogs {
  display: flex;
  align-items: center;
}

.main-blog__author {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-family: "rus_amstrad";
  font-size: 1.5vw;
}


.main-blog__author.tips {
  flex-direction: column-reverse;
  align-items: flex-start;
}


.main-blog__title {
  font-size: 25px;
  max-width: 20ch;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 30px;
  font-family: "rus_amstrad";
}

.main-blog {
  background-image: url("../../main/img/pywebio.png");
  background-size: 40%;
  background-position-x: 350px;
  background-color: #31abbd;
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 30px;
  border-radius: 20px;
  align-self: stretch;
  overflow: hidden;
  position: relative;
  transition: background 0.3s;
  background-repeat: no-repeat;
}
.main-blog + .main-blog {
  margin-left: 20px;
  width: 35%;
  background-image: url("../../main/img/school_educationv1_7.jpg");
  background-color: #0a8494;
  background-position-x: 0;
  background-size: 139%;
  filter: saturate(1.4);
}
.main-blog + .main-blog .author-img {
  border-color: rgba(255, 255, 255, 0.75);
  margin-top: 14px;
}

.main-blog + .main-blog .author-img__wrapper svg {
  border-color: #ffe6b2;
  color: #e7bb7d;
}
.main-blog + .main-blog .author-detail {
  margin-left: 0;
}

@media screen and (max-width: 905px) {
  .main-blog, .main-blog + .main-blog {
    width: 50%;
    padding: 30px;
  }
  .main-blog {
    background-size: cover;
    background-position-x: center;
    background-blend-mode: overlay;
  }
}
.main-blog__time {
  background: rgba(21, 13, 13, 0.44);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "rus_amstrad";
}
.author-img {
  width: 52px;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 4px;
  border-radius: 50%;
  object-fit: cover;
}
.author-img__wrapper {
  position: relative;
  flex-shrink: 0;
}
.author-img__wrapper svg {
  width: 16px;
  padding: 2px;
  background-color: #fff;
  color: #0daabc;
  border-radius: 50%;
  border: 2px solid #0daabc;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.author-name {
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
}
.author-info {
  font-weight: 400;
  color: #fff;
}
.author-detail {
  margin-left: 16px;
}

.seperate {
  width: 3px;
  height: 3px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6px;
}
.seperate.video-seperate {
  background-color: var(--body-color);
}
.videos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 980px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
.video {
  position: relative;
  background-color: #2c2c2c;
  border-radius: 20px;
  overflow: hidden;
  font-family: "rus_amstrad";
}
.video-wrapper {
  position: relative;
}
.video-name {
  color: #fff;

  line-height: 1.4em;
  padding: 12px 20px 0;
  overflow: hidden;

  z-index: 9;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video-view {
  padding: 12px 20px 20px;
  color: #FFFFFF;
  position: relative;
}
.video-by {
  transition: 0.3s;
  padding: 20px 20px 0px;
  display: inline-flex;
  position: relative;
  color: #FFFFFF;
}
.video-by:before {
  content: "";
  background-color: #22b07d;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 26px;
  right: 5px;
}
.video-by.offline:before {
  background-color: #ff7551;
}
.video-time {
  position: absolute;
  background: rgba(21, 13, 13, 0.44);
  color: rgba(255, 255, 255, 0.85);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  top: 10px;
  z-index: 1;
  right: 8px;
}
.video:hover video {
  transform: scale(1.6);
  transform-origin: center;
}
.video:hover .video-time {
  display: none;
}
.video:hover .video-author {
  bottom: -65px;
  transform: scale(0.6);
  right: -3px;
  z-index: 10;
}
.video:hover .video-by {
  opacity: 0;
}
.video-author {
  position: absolute;
  right: 10px;
  transition: 0.4s;
  bottom: -25px;
}
.video-author svg {
  background-color: #0aa0f7;
  color: #fff;
  border-color: var(--video-bg);
}
video {
  max-width: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
  cursor: pointer;
  transition: 0.4s;
}


.show .main-header, .show .main-blogs, .show .small-header, .show .videos {
  display: none;
}


.author-img {
  border: 0;
}


.author-img {
  border: 0;
}

@media screen and (max-width: 735px) {
  .main-blogs {
    flex-wrap: wrap;
  }
  .main-blog, .main-blog + .main-blog {
    width: 100%;
  }
  .videos {
    grid-template-columns: 1fr;
  }
  .main-blog + .main-blog {
    margin-left: 0;
    margin-top: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 475px) {
  .main-blog__title {
    font-size: 20px;
  }

  .main-blog__author {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .author-detail {
    margin-left: 0;
  }
  .main-blog .author-img {
    margin-top: 14px;
  }
  .main-container {
    padding: 0 20px 20px;
  }
  .header {
    padding: 20px;
  }



}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#page-wrapper {
  position: relative;
  z-index: 1;
}