{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/applications_css/weather.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="container">
            <div class="search-container">
                <input
                        type="text"
                        placeholder="Введите город"
                        id="city"
                        value="Москва"
                />
                <button
                    id="search-btn"> Поиск </button>
            </div>
            <div id="result"></div>
        </div>
    </div>
</body>
<script src="{% static 'main/js/applications_js/weather.js' %}"></script>
</html>