body {
    background-color: rgb(10, 11, 24);
}
header {
    background-color: rgb(10, 11, 24);
    width: 80%;
}
header a, button, span {
    color: #FFFFFF;
}

header a, span {
    font-family: monospace;
    font-size: calc(14px + 8 * (100vw / 1280));
}

.is-active {
    text-decoration: underline;
}

.navbar-nav a {
    color: #FFFFFF;
    font-size: calc(14px + 8 * (100vw / 1280));
}




.divider-small {
    height: 3rem;
}

.divider-extra-small {
    height: 1rem;
}

.project-name {
    width: 80%;
}

.project-text {
    width: 80%;
}

h1, h3, h4 {
    font-family: monospace;
    color: #FFFFFF;
}

h1 {
    font-weight: bold;
}

p {
    font-family: monospace;
    color: #c0bbbb;
}

.recent-posts {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
}

.image-1 {
    padding-right: 0;
    padding-left: 0;
}

.date {
    font-family: monospace;
    color: rgb(84,39,185);
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
}

.recent-header {
    padding-right: 0;
    padding-left: 0;
}

.recent-intro {
    padding-right: 0;
    padding-left: 0;
}

.recent-intro p {
    font-family: monospace;
    color: #c0bbbb;
}

.all-posts {
    width: 80%;
}

.footer {
    font-family: monospace;

}

.par-2, .par-1, .par-3, .par-4, .main-par {
    font-size: 14px;
}



/*adaptive css*/
@media screen and (max-width: 540px) {
    .divider{
        height: 4rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
    .divider{
        height: 6rem;
    }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
    .divider {
        height: 6rem;
    }
}

@media screen and (max-width: 4000px) and (min-width: 1001px)  {
    .divider {
        height: 6rem;
    }
}