{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <script src="https://kit.fontawesome.com/29c67175bf.js" crossorigin="anonymous"></script>
    <style>
                a {
                text-decoration: none;
                }
            </style>
</head>
<body>
    <header id="header" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2c2c2c">
            <div class="container">
                <a href="#" class="navbar-brand">
                    MeCoding.ru
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
                    aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">Main</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about_me' %}" class="nav-link active">Readme</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'news_home' %}" class="nav-link">News</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'apps' %}" class="nav-link">Apps</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'pixel_town' %}" class="nav-link">Pixel_town</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact_page' %}" class="nav-link">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'help_me' %}" class="nav-link">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </header>
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Обо мне</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container w">
            <div class="row centered">
                <div class="col-lg-12">
                    <div class="text-center">
                        <img src="{% static 'main/img/retro_pc_README.gif' %}" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
    </div>
    <div class="container c">
        <div class="row centered text-center">
            <br><br>
            <div class="col-lg-6">
                <i class="fa-solid fa-building-columns fa-beat-fade fa-2xl"></i>
                <h4>Мое образование</h4>
                <p>  Я закончил Московский Государственный Технический Университет "СТАНКИН" по направлению автоматизации технологических процессов и производств, а на данный момент
                            обучаюсь в Московском Государственном Университете имени М.В. Ломоносова по направлению искусственного интеллекта. Помимо этого я параллельно обучаюсь по направлению
                            мастера делового администрирования MBA в МГУ на кафедре Государственного управления</p>
            </div>
            <div class="col-lg-6">
                <i class="fa-solid fa-briefcase fa-beat-fade fa-2xl" id="sec_info"></i>
                <h4>Деятельность</h4>
                <p>  Я специализируюсь на разработке Desktop приложений на языках Python и Java. Есть опыт написания программ в Android Studio и разработки Веб-сайтов. Я также развиваюсь в сфере Data-science
                    и машинном обучении. Я постоянно прокачиваю свои навыки программирования, изучаю что-то новое, читаю техническую литературу. Каждая решенная задача мотивирует меня заниматься этим делом дальше и совершенствоваться все больше и больше.
                    Ниже вы можете скачать и ознакомиться с моим резюме</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="col-lg-12 me-2">
            <div class="wrapper">
                <a href="{% static 'main/files/nov_n.pdf' %}" download><span>Скачать резюме</span></a>
                <p>Клик сюда</p>
            </div>
        </div>
    </div>


    <footer class=" text-center " style="background-color:#2c2c2c;">
      <!-- Grid container -->
      <div class="container p-4">
        <section>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #2c2c2c" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #2c2c2c" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #2c2c2c" href="#!" role="button"><i class="fab fa-google"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #2c2c2c" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #2c2c2c" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #2c2c2c" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family: 'amstrad'; color: #ffffff ">
        © 2023 MeCoding.ru All rights reserved.
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src={% static "main/js/main.js" %}></script>
</body>
</html>