/* Общая высота документа */
html{
    overflow-x: hidden; ;
}

/*  Настройки основного тела страницы */
body {
    background-color: #dbcffb;
    margin: 0;
    padding: 0;

    background-position: center center;
}

/*  Боковая панель целиком */
aside {
    float: left;
    background-color: #dbcffb;
    width: 20%;
    padding: 2.5%;

    min-height: 467vh;
    max-height: 700vh;
    color: #5757e5;
    border-right: 3px solid #5757e5;
}

/* Картинка в боковом меню */
aside img {
    margin-right: 10%;
    width: 80%;
    float: left;
}


/* Кнопка навигации */
Кнопка навигации
aside h3 {
    margin-top: -400px;
    max-width: 100%;
    min-width: 50px;
    border: 2px solid #5757e5;
}

/*  Все элементы навигации списком */
aside ul {

    list-style: none;
    float: left;
    position: sticky;
    top: 20px;
    /*border: 2px solid #5757e5;*/
}


/*  Каждый элемент навигации отдельно */
aside ul li {
    color: #5757e5;
    display: block;
    margin-top: 20px;
    font-family: "amstrad";
    font-size: 1.5vw;

    transition: transform .6s ease;

}

aside ul li:hover, aside ul a:hover{
    color: #5757e5;
    text-decoration: none;
    transform: scale(1.10);
}

main {
    height: 100%;
}

.features {
    float: left;
    display: flex;
    justify-content: center;

    color: #5757e5;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;

}

.features img{
    justify-content: center;
    margin-top: 40px;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    width: 35vw;
}

@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}