body {
    background-color: rgb(10, 11, 24);
}
header {
    background-color: rgb(10, 11, 24);
    width: 80%;
}
header a, button, span {
    color: #FFFFFF;
}

header a, span {
    font-family: monospace;
    font-size: calc(14px + 8 * (100vw / 1280));
}

.is-active {
    text-decoration: underline;
}

.navbar-nav a {
    color: #FFFFFF;
    font-size: calc(14px + 8 * (100vw / 1280));
}

.heading {
    margin-top: 50px;
    width: 80%;
    padding-right: 0;
    padding-left: 0;
}

.line {
    position: relative;
    left: 0;
    right: 0;
    border-top: 2px solid #FFFFFF;
}


.divider-small {
    height: 3rem;
}

.divider-extra-small {
    height: 1rem;
}
.main-brand-name {

}
.main-brand-name h1 {
    font-size: 16vw;
    color: #FFFFFF;
    font-family: monospace;
    letter-spacing: 2px;
    font-weight: bold;
}





.image-1 {
    padding-right: 0;
    padding-left: 0;
}




.footer {
    font-family: monospace;

}

.author-img {
    padding-right: 0;
    padding-left: 0;
    width: 80%;
    height: 40%;
}

.img-fluid {
    height: 40%;
}



/*adaptive css*/
@media screen and (max-width: 540px) {
    .divider{
        height: 4rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
    .divider{
        height: 6rem;
    }
}
@media screen and (max-width: 1000px) and (min-width: 769px) {
    .divider {
        height: 6rem;
    }
}

@media screen and (max-width: 4000px) and (min-width: 1001px)  {
    .divider {
        height: 6rem;
    }
}