
/*  Настройки основного тела страницы */
html{
    height: max-content;
    position: relative;
}

/*  Настройки основного тела страницы */
body {
    display: inline-block;
    background-color: #dbcffb;
    margin: 0;
    padding: 0;
    height: max-content;
}

.right {
    display: flex;
    height: 100%;
}

/*  Боковая панель целиком */
  aside {
    float: left;
    background-color: #aa9ad2;
    width: 20%;
    padding: 0 2.5% 2.5% 2.5%;
    color: #5757e5;
    border-right: 3px solid #5757e5;
}

/* Картинка в боковом меню */
aside img {
    margin-right: 10%;
    width: 80%;
    float: left;
}


/* Кнопка навигации */
aside h3 {
    margin-top: -400px;
    max-width: 100%;
    min-width: 50px;
    border: 2px solid #5757e5;
}

/*  Все элементы навигации списком */
aside ul {
    list-style: none;
    float: left;
    position: sticky;
    top: 20px;
    /*border: 2px solid #5757e5;*/
}


/*  Каждый элемент навигации отдельно */
aside ul li {
    color: #5757e5;
    display: block;
    margin-top: 20px;
    font-family: "amstrad";
    font-size: 1vw;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #5757e5;
    text-decoration: none;
    transform: scale(1.10);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 10;

}



.features {
    float: left;
    color: #5757e5;
    margin-top: 5%;
    margin-right: 5%;
    width: 100%;
    text-align: center;
}

.features img{
    justify-content: center;
    width: 20%;
    height: 20%;

}


.features h1 {
    margin-top: 10vh;
    font-family: "rus_amstrad";
    font-size: 2.5vw;
}


.info_ab_me_1 {
    float: left;
    color: #5757e5;
    width: 100%;
    height: 38%;
    font-family: "amstrad";
    position: relative;
}

.info_ab_me_1 img{
    margin-top: 10%;
    width: 50%;
    height: 50vh;
    margin-bottom: 10%;

}

.main_text1 {
    float: right;
    margin-top: 20%;
    width: 50%;
}

.main_text1 p{
    margin-right: 10%;
    font-family: "rus_amstrad", serif;
    font-size: 0.8vw;
    text-align: justify;
    line-height: 3vh;
    text-indent: 5%;
}




.info_ab_me_2 {
    width: 100%;
    margin-top: -5%;
    float: left;
    color: #5757e5;
    width: 100%;
    font-family: "rus_amstrad";
    position: relative;
}
.main_text2 {
    float: left;
    margin-top: 15%;
    width: 50%;
}

.main_text2 p{
    margin-left: 10%;
    font-family: "rus_amstrad", serif;
    font-size: 0.8vw;
    text-align: justify;
    line-height: 3vh;
    text-indent: 5%;
}


.info_ab_me_2 img{
    margin-top: 10%;
    width: 50%;
    height: 50vh;
    margin-bottom: 10%;

}




#final_text{
    font-family: "rus_amstrad", serif;
    color: #5757e5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15vh;
    width: 90%;
    text-align: justify;
    line-height: 3vh;
    text-indent: 5%;
}

.wrapper{
    float: left;
    color: #5757e5;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    justify-content: center;
}

.wrapper a{
    display: block;
    width: 20vw;
    justify-content: center;

    line-height: 40px;
    font-size: 18px;
    font-family: "rus_amstrad";
    text-decoration: none;
    color: #5757e5;
    border: 2px solid #5757e5;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-left: 35%;
}

.wrapper a span{
  position: relative;
    justify-content: center;
  z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5757e5;
  transition: all .35s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}


footer {
    float: left;
    color: #5757e5;
    margin-top: 80px;
    margin-left: 20%;

    width: 80%;
    position: center;
}

footer p {
    font-family: amstrad;
    text-align: right ;
}


@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}