/* Общая высота документа */
html{
    overflow-x: hidden; ;
}

/*  Настройки основного тела страницы */
body {
    background-color: #dbcffb;
    margin: 0;
    padding: 0;

    background-position: center center;
}

/*  Боковая панель целиком */
aside {
    float: left;
    background-color: #dbcffb;
    width: 20%;
    padding: 2.5%;

    min-height: 467vh;
    max-height: 700vh;
    color: #5757e5;
    border-right: 3px solid #5757e5;
}

/* Картинка в боковом меню */
aside img {
    margin-right: 10%;
    width: 80%;
    float: left;
}


/* Кнопка навигации */
aside h3 {
    margin-top: -400px;
    max-width: 100%;
    min-width: 50px;
    border: 2px solid #5757e5;
}

/*  Все элементы навигации списком */
aside ul {

    list-style: none;
    float: left;
    position: sticky;
    top: 20px;
    /*border: 2px solid #5757e5;*/
}


/*  Каждый элемент навигации отдельно */
aside ul li {
    color: #5757e5;
    display: block;
    margin-top: 20px;
    font-family: "amstrad";
    font-size: 1.5vw;

    transition: transform .6s ease;

}

aside ul li:hover, aside ul a:hover{
    color: #5757e5;
    text-decoration: none;
    transform: scale(1.10);
}

main {
    height: 100%;
}



.features {
    float: left;
    color: #5757e5;
    margin-top: 4vh;
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;
    text-align: center;
}

.features img{
    justify-content: center;

    width: 70vw;
    height: 40vh;

}


.features h1 {
    margin-top: 2vh;
    font-family: "rus_amstrad";
    margin-right: 5%;
}


.main_contacts {
    float: left;
    color: #5757e5;
    margin: 4vh 5% 4vh;
    width: 70%;
    font-family: "amstrad";
    font-family: "rus_amstrad";
    box-shadow: 0 0 0 6px #5757e5, 0 0 0 8px #dbcffb, 0 0 0 20px #5757e5;
}


#intro_cont {
    margin: 2vh 10% 1vh 5%;
    font-size: 1.4vw;
    text-align: justify;
    line-height: 2vh;
}

#contacts_content {
    margin: 2vh 10% 4vh 5%;
    font-size: 1.4vw;
    line-height: 4vh;
    text-align: justify;
}


.send_email {
    float: left;
    color: #5757e5;
    margin: 40px 5% 4vh;
    width: 70%;
    font-family: "amstrad";
    font-family: "rus_amstrad";
    box-shadow: 0 0 0 6px #5757e5, 0 0 0 8px #dbcffb, 0 0 0 20px #5757e5;
    position: relative;
}

.send_email img {
    float: right;
    height: 10vh;
    width: 10vw;
    margin-top: -10vh;
    margin-right: 2vw;
}




footer {
    float: left;
    color: #5757e5;
    margin-top: 80px;
    margin-left: 20%;

    width: 60%;
    position: center;
}

footer p {
    font-family: amstrad;
    text-align: right ;
}


@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}