html, body {
    height: 100%;
    background: -webkit-linear-gradient(90deg, #000000,#124a49,#0a8494);
    background: linear-gradient(90deg, #000000,#124a49,#0a8494);
}




.navbar-dark .navbar-brand {
    font-family: "3dventure";
    font-size: 30px;
    font-weight: bold;
}




.navbar-dark .navbar-nav .nav-link {
    font-family: "amstrad";
    font-size: 1rem;
}
#hero {
    width: 100%;
}


#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    padding-top: 8vh;
    width: 100%;
    margin: 0;
    text-align: center;
}




/*Экран смартфона*/
@media screen and (max-width: 540px) {
    #hero h1 {
        margin: 20px 20px 0 20px;
        font-family: "rus_amstrad";
        font-weight: 700;
        line-height: 30px;
        font-size: calc(9px + 2.5vw);
        color: #ffffff;
    }

    .w img {
        margin-top: 20px;
        height: 200px;
        width: 300px;
    }



    .c h2 {
        font-family: "rus_amstrad";
        color: #ffffff;
        font-size: calc(7px + 2.5vw);
    }
}


.c p {
    margin-top: 60px;
    font-family: "amstrad";
    color: #ffffff;
}

.m h2 {
    font-family: "rus_amstrad";
    color: #ffffff;
    margin-top: 40px;
}

#contacts_content a {
    font-size: 12px;
}

.send_email h3 {
    font-family: "amstrad";
    font-size: 20px;
}


@media screen and (max-width: 4000px) and (min-width: 541px) {
    #hero h1 {
        margin: 20px 20px 0 20px;
        font-family: "rus_amstrad";
        font-weight: 700;
        line-height: 64px;
        font-size: calc(5px + 2.5vw);
        color: #ffffff;

    }

    .w img {
        margin-top: 40px;
        height: 300px;
        width: 480px;
    }
    .c h2 {
        font-family: "rus_amstrad";
        color: #ffffff;
    }
}

#questions {
    font-family: "rus_amstrad";
}


#questions h2{
    color: #ffffff;
}

#questions p{
    color: #ffffff;
}


.wrapper{
    color: #ffffff;
    margin-top: 100px;
    position: center;
    margin-bottom: 100px;

}

.wrapper a{
    line-height: 40px;
    font-size: 18px;
    font-family: "rus_amstrad";
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span{
    position: relative;
     z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: all .35s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}

.wrapper p {
    font-family: "rus_amstrad";
    color: #ffffff;
    font-size: 12px;
}



.border-top {
    border-top: 4px solid #ffffff!important;
}

footer {
    background-color: #aa9ad2;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    border-top: 1px solid #5757e5!important;
    font-family: "amstrad";
    color: #5757e5;
}


@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "3dventure";
    src: url("../fonts/3dventure/3dventure1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}