:root {
    --back-color-1:   #061434;
    --back-color-2: #061434;

    --font-color1: #FFFFFF;
    --header-color: #061434;

     --coding-green: #00FF00;

    --cube-color: #00FF00;

    --h-color: #03dac6;
}