/* Общая высота документа */
html{
    height: max-content;
    position: relative;
}

/*  Настройки основного тела страницы */
body {
    display: inline-block;
    background-color: #dbcffb;
    margin: 0;
    padding: 0;
    height: max-content;
    width: 100%;
}

.right {
    display: flex;
    height: 100%;
}

/*  Боковая панель целиком */
 aside {
    float: left;
    background-color: #aa9ad2;
    width: 20%;
    padding: 0 2.5% 2.5% 2.5%;
    color: #5757e5;
    border-right: 3px solid #5757e5;
}

/* Картинка в боковом меню */
aside img {
    margin-right: 10%;
    width: 80%;
    float: left;
}


/* Кнопка навигации */
aside h3 {
    margin-top: -400px;
    max-width: 100%;
    min-width: 50px;
    border: 2px solid #5757e5;
}

/*  Все элементы навигации списком */
aside ul {
    list-style: none;
    float: left;
    position: sticky;
    top: 20px;
    /*border: 2px solid #5757e5;*/
}


/*  Каждый элемент навигации отдельно */
aside ul li {
    color: #5757e5;
    display: block;
    margin-top: 20px;
    font-family: "amstrad";
    font-size: 1vw;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #5757e5;
    text-decoration: none;
    transform: scale(1.10);
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-shrink: 10;

}


.features {
    color: #5757e5;
    margin-top: 40px;
    width: 100%;
    font-family: "amstrad";

}

.features img {
    display: block;
    margin: auto;
    width: 50%;
    height: 30%;
}

.features h1 {
    margin-top: 5vh;
    margin-left: 5%;
    margin-bottom: 5vh;
    font-size: 2vw;
    text-align: center;
    font-family: "rus_amstrad";
}



.news_window {
    color: #5757e5;
    box-shadow: 0 0 0 4px #5757e5, 0 0 0 10px #dbcffb, 0 0 0 20px #5757e5;
    margin: 8vh 5vw 12vh 5vw;
    height: 25vh;

}


#title_news {
    width: 100%;

    margin-left: 3%;

    font-family: "amstrad", "rus_amstrad";
    line-height: 45px;
    text-align: justify;
    font-size: 1.2vw;
}

#news_intro {
    margin-right: 8%;
    margin-left: 2%;
    font-family: "amstrad", "rus_amstrad";
    line-height: 45px;
    text-align: justify;
    font-size: 0.8vw;
}


.wrapper{
    display: block;
    margin-left: 65%;
    color: #5757e5;
    margin-top: -20vh ;
    margin-bottom: 12vh;
}

.wrapper a{
    display: block;
    width: 20vw;
    line-height: 45px;
    text-decoration: none;
    color: #5757e5;
    border: 2px solid #5757e5;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;

}

.wrapper a span{
    position: relative;
    z-index: 2;

}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5757e5;
  transition: all .35s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}

#btn_watch {
    font-family: "rus_amstrad";
    line-height: 45px;
    text-align: center;
    font-size: 1.5vw;
}



.cont_description {
    float: left;
    color: #5757e5;
    margin: 4vh 5% 4vh;
    font-family: "amstrad";
    font-family: "rus_amstrad";
}

.news_name {
    display: block;
    margin: 5% auto;
    color: #5757e5;
    font-family: "amstrad", "rus_amstrad";
    font-size: 1.5vw;
}

#news_description {
    line-height: 4vh;
    text-indent: 2%;
}

#blank_space {
    height: 100px;
    margin-top: 2%;
}

footer {
    float: right;
    color: #5757e5;
    margin-top: 5%;

}

footer p {
    font-family: amstrad;
    text-align: right ;
    font-size: 0.8vw
}

@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}
