/* Общая высота документа */
html{
    overflow-x: hidden; ;
}

/*  Настройки основного тела страницы */
body {
    background-color: #dbcffb;
    margin: 0;
    padding: 0;

    background-position: center center;
}

/*  Боковая панель целиком */
aside {
    float: left;
    background-color: #dbcffb;
    width: 20%;
    padding: 2.5%;

    min-height: 467vh;
    max-height: 700vh;
    color: #5757e5;
    border-right: 3px solid #5757e5;
}

/* Картинка в боковом меню */
aside img {
    margin-right: 10%;
    width: 80%;
    float: left;
}


/* Кнопка навигации */
Кнопка навигации
aside h3 {
    margin-top: -400px;
    max-width: 100%;
    min-width: 50px;
    border: 2px solid #5757e5;
}

/*  Все элементы навигации списком */
aside ul {

    list-style: none;
    float: left;
    position: sticky;
    top: 20px;
    /*border: 2px solid #5757e5;*/
}


/*  Каждый элемент навигации отдельно */
aside ul li {
    color: #5757e5;
    display: block;
    margin-top: 20px;
    font-family: "amstrad";
    font-size: 1.5vw;

    transition: transform .6s ease;

}

aside ul li:hover, aside ul a:hover{
    color: #5757e5;
    text-decoration: none;
    transform: scale(1.10);
}

main {
    height: 100%;
}
.features {
    float: left;
    color: #5757e5;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;
    font-family: "amstrad";

}

.features img {
    width: 70vw;
    height: 40vh;
}

.features h1 {
    margin-top: 5vh;
    margin-left: 5%;
    margin-bottom: 5vh;
    font-size: 3vw;
    text-align: center;
    font-family: "rus_amstrad";
}

.news {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 3vw;
    text-align: center;
    font-family: "rus_amstrad";
    height: 100vh;
    width: 70vw;
}
#title_news {
    margin-top: 3vh;
    margin-left: 5%;
    margin-bottom: 3vh;
    font-size: 2vw;
    text-align: center;
    font-family: "rus_amstrad";
}

#news_intro {
    margin-top: 3vh;
    margin-left: 5%;
    margin-bottom: 3vh;
    font-size: 1vw;
    text-align: center;
    font-family: "rus_amstrad";
}

#btn_watch {
    width: 15vw;
    font-family: "rus_amstrad";
}

.news_window {
    float: left;
    color: #5757e5;
    margin-top: 40px;
    width: 70%;
    position: relative;
}

.news_window img {
    margin-top: 40px;
    margin-left: 2%;
    margin-right: 2%;
    width: 70vw;
    height: 30vh;
}

#title_news {
    width: 70vw;
    margin-left: 3vw;
    position: absolute;
    top: 9vh;
    height: 20%;
    font-family: "rus_amstrad";
    line-height: 45px;
    text-align: justify;
    font-size: 2vw;
}

#news_intro {
    width: 60vw;
    margin-left: 3vw;
    margin-right: 8%;
    position: absolute;
    top: 14vh;
    height: 20%;
    font-family: "rus_amstrad";
    line-height: 45px;
    text-align: justify;
    font-size: 1vw;
}


#btn_watch {
    width: 15vw;
    margin-left: 25vw;
    margin-right: 22.5vw;
    position: absolute;
    top: 24vh;
    height: 4vh;
    font-family: "rus_amstrad";
    line-height: 45px;
    text-align: justify;
    font-size: 1.5vw;
}



.wrapper{
    float: left;
    color: #5757e5;
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;
    justify-content: center;
}

.wrapper a{
    display: block;
    width: 20vw;
    justify-content: center;
    height: 5vh;
    text-decoration: none;
    color: #5757e5;
    border: 2px solid #5757e5;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-left: 35%;
}

.wrapper a span{
    position: relative;
    justify-content: center;
    z-index: 2;
    margin-left: 1vw;

}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5757e5;
  transition: all .35s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}


footer {
    float: left;
    color: #5757e5;
    margin-top: 80px;


    width: 100%;
    position: center;
}

footer p {
    font-family: amstrad;
    text-align: right ;
}

@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}
