html {
    position: relative;
}
html, body {
    height: 100%;
    background-color: #dbcffb;
}





.navbar-dark .navbar-brand {
    color: #5757e5;
    font-family: "3dventure";
    font-size: 30px;
    font-weight: bold;
}




.navbar-dark .navbar-nav .nav-link {
    color: #5757e5;
    font-family: "amstrad";
    font-size: 1rem;
}
#hero {
    width: 100%;
    background-color: #dbcffb;
}


#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    padding-top: 8vh;
    width: 100%;
    margin: 0;
    text-align: center;
}

.c {
    margin-top: 40px;
    font-family: "rus_amstrad";
}

.c #title_news {
    font-family: "rus_amstrad";
    margin-top: 10px;
    font-size: 20px;
    color: #5757e5;
}
.c p {
    font-family: "rus_amstrad";
    color: #8366bd;
    font-size: 15px;
}



.wrapper{
    color: #5757e5;
    position: center;
    margin-bottom: 100px;

}

.wrapper a{
    line-height: 40px;
    font-size: 18px;
    font-family: "rus_amstrad";
    text-decoration: none;
    color: #5757e5;
    border: 2px solid #5757e5;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span{
    position: relative;
     z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5757e5;
  transition: all .35s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}

.wrapper p {
    font-family: "rus_amstrad";
    color: #8366bd;
    font-size: 12px;
}



/*Экран смартфона*/
@media screen and (max-width: 540px) {
    #hero h1 {
        margin: -10px;
        font-family: "rus_amstrad";
        font-weight: 700;
        line-height: 30px;
        font-size: calc(8px + 2.5vw);
        color: #5757e5;
    }

    .w img {
        margin-top: 40px;
        height: 150px;
        width: 150px;
    }

    #sec_info {
        margin-top: 80px;
    }
}


@media screen and (max-width: 4000px) and (min-width: 541px) {
    #hero h1 {
        margin: -10px;
        font-family: "rus_amstrad";
        font-weight: 700;
        line-height: 64px;
        font-size: calc(4px + 2.5vw);
        color: #5757e5;

    }
    .w img {
    margin-top: 40px;
}
}






.border-top {
    border-top: 4px solid #5757e5!important;
}

footer {
    background-color: #aa9ad2;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    border-top: 1px solid #5757e5!important;
    font-family: "amstrad";
    color: #5757e5;
}


@font-face {
    font-family: "amstrad";
    src: url("../fonts/amstrad/amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rus_amstrad";
    src: url("../fonts/rus_amstrad/rus_amstrad.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "3dventure";
    src: url("../fonts/3dventure/3dventure1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}
